<div class="container-fluid">
  <div class="spotify-logo">
    <img src="assets/spotify_logo.png" />
  </div>
  <div class="profile">
    <img [src]="(profile?.images)[0].url" />
    <h2>{{ profile?.display_name }}</h2>
    <p>{{ profile?.display_name }}&nbsp;|&nbsp;followers: {{ profile?.followers.total }}</p>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let playlist of playlists">
      <a [routerLink]="['/playlist/' + playlist.id]" preserveFragment>
        <div class="pl-card">
          <img class="pl-img" draggable="false" [src]="playlist.images[0].url" />
          <h4>{{ playlist.name }}</h4>
          <p>{{ playlist.tracks.total }} musics</p>
        </div>
      </a>
    </div>
  </div>
</div>
